<div class="container separate-rows" >
    <h2 id='titulo' ></h2>
    <div class="row show-grid">
        <!--parte izquierda -->
        <div class="col-md-5">
            <div>		
                <h3>Reto</h3>
                <p id='reto'>
                    
                </p>
            </div>
            <!-- Contenido de pista-->	
            <div>
                <h3 >Pista</h3>
                <p id='pista'>
                    
                </p>
                <h4></h4>
            </div>
        </div>
    
        <!--parte derecha -->
        <div class="col-md-6">
            <!-- PARTE DE LA CONSOLA-->
             <!--<h1>Espacio de la consola</h1>-->
            
              <a href="#/Editor/">Editor</a>
           
<div id="editor">
public class Buzz {

    public static void main(String[] args) {
        System.out.println("Hola Mundo!!");
        for (int i = 0; i < 10; i++) {
            System.out.println("fib " + i + fib(i));
        }
    }

    private static long fib(int i) {
        if (i < 2) {
            return i;
        } else {
            return fib(i - 1) + fib(i - 2);
        }
    }
}
</div>
<script src="../../js/libs/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor")
            , session = editor.getSession()
            , range = new Range(0, 0, 3, 60)
            , markerId = session.addMarker(range, "readonly-highlight");

    editor.setTheme("ace/theme/cobalt"); // tema del editor
    document.getElementById('editor').style.fontSize = '13px'; // tamaño de las fuentes
    //    console.log('log: '+);
    editor.setHighlightActiveLine(true);
    //editor.resize(); // reajustar el editor dentro de un DIV
    editor.setAutoScrollEditorIntoView(true);
    editor.setOption("maxLines", 30);
    editor.getSession().setMode("ace/mode/java"); // modo del editor
    //    editor.setValue("the new text here"); // aca va el valor del REST
    //    editor.selection.getCursor() // traigo cursor Object {row: 0, column: 0}
    //    editor.session.getLength() // trae no total de lineas

    editor.getSession().on('change', function (e) {
        console.log('cambió el editor'); // funcion donde evaluo un cambio
    });
</script>
        </div>
     </div>
    <div class="row show-gred">
        <div  class="col-md-6" style="text-align: left">
            <button class="btn btn-primary"> Validar</button><h3>Puntaje: <span id='puntaje'></span></h3>
        </div>
    </div>    
</div>

