<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <h1 class="page-header">Felicidades!</h1>
        <p>Has completado con éxito la lección.</p>
        <p>Para hacer otra lección dirígete a la página principal y selecciona otra lección.</p>
        <br />
        <h4>Puntaje total: <span id="points"><%= points %></span></h4>
        <br />
        <button class="btn btn-primary btn-block" id="home_button">Ir a la página de inicio</button>
    </div>
    <div class="col-md-5"></div>
</div>
