<div class="container separate-rows" >
    <h2 id='titulo' ></h2>
    <div class="row show-grid">
        <!--parte izquierda -->
        <div class="col-md-5">
            <div>		
                <h3>Reto</h3>
                <p id='reto'>
                    
                </p>
            </div>
            <!-- Contenido de pista-->	
            <div>
                <h3 >Pista</h3>
                <p id='pista'>
                    
                </p>
                <h4></h4>
            </div>
        </div>
    
        <!--parte derecha -->
        <div class="col-md-6">
            <!-- PARTE DE LA CONSOLA-->
             <!--<h1>Espacio de la consola</h1>-->
              <pre id="editor"></pre>
        </div>
     </div>
    <div class="row show-gred">
        <div  class="col-md-6" style="text-align: left">
            <button class="btn btn-primary"> Validar</button><h3>Puntaje: <span id='puntaje'></span></h3>
        </div>
    </div>    
</div>

