<div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="http://www.estudiaenelpoli.edu.co/"><img style="position: relative; top: " src="../../imgs/mainPague/logo_header.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                
                <li><a id ="comofunciona" href="#ancla1">Como funciona</a></li>
                <li><a id ="acerdade" href="#ancla2">Acerca de</a></li>
                <li><a id="crear" href="Sign in/index.html">Crear cuenta</a></li>
                
                <li><a class='st_facebook_large' displayText='Facebook' style="padding: 10px 5px 10px 5px " ></a></li>
                <li><a class='st_twitter_large' displayText='Tweet' style="padding: 10px 5px 10px 5px " ></a></li>
                <li><a class='st_googleplus_large' displayText='Google +' style="padding: 10px 5px 10px 5px " ></a></li>
                <li><a class='st_email_large' displayText='Email' style="padding: 10px 5px 10px 5px " ></a></li>
                
                
              
                <ul id ="usuario" class="nav navbar-nav" >
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><p id="name"</p><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Cerrar sesion</a></li>
                    </ul>
                    </li> 
                </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
