<div class="container marketing">       
    <div class="row" id="Category">
        <% _.each(categories.models, function(category) { %>
        <div class="col-lg-4">
            <a data-toggle="modal" data-target="#a_<%= category.get('idcategory') %>"><img class="img-circle" src="../../imgs/mainPague/introduccion.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2><%= category.get('name') %></h2>
            <p><%= category.get('description') %></p>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#a_<%= category.get('idcategory') %>">Lecciones >></button>
            <div class="modal fade" id="a_<%= category.get('idcategory') %>" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><!-- Titulo de la categoria--></h4>
                        </div>
                        <div class="modal-body">
                            <%
                            var lessons_c = _.filter(lessons.models, function(model) {
                                return model.get('category').idcategory === category.get('idcategory');
                            });
                            
                            console.log(lessons_c, "nana");
                            
                            _.each(lessons_c, function(lesson) {
                            %>
                            <a href="../lesson/#challenge/<%= category.get('idcategory') %>/<%= lesson.get('idlesson') %>" class="lnk" style="color:#000"><%= lesson.get('name') %></a><br/>
                            <% }); %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>